<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621926305288-5smnemsg4uk97ipgo70gmaq6hl7jaiin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621926305288-5smnemsg4uk97ipgo70gmaq6hl7jaiin</string>
	<key>API_KEY</key>
	<string>AIzaSyDpSy3zVZAQkoE1RE4HoKz-G9uADcG-SwU</string>
	<key>GCM_SENDER_ID</key>
	<string>621926305288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ae.happiness_merchant.app</string>
	<key>PROJECT_ID</key>
	<string>ajwaae-9dd49</string>
	<key>STORAGE_BUCKET</key>
	<string>happiness_club_merchant-9dd49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621926305288:ios:c73ec1badf7e5eecb8cbbd</string>
</dict>
</plist>